<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1, maximum-scale=1">
        <title>{% block title %}Dreamjob{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon-16x16.ico') }}" />
        <link rel="icon" href="{{absolute_url( asset('images/favicon-32x32.png')) }}" type="image/png" sizes="32x32" />
        <link rel="icon" href="{{ absolute_url( asset('images/favicon-16x16.png')) }}" type="image/png" sizes="16x16" />


    </head>
    <body scroll="no" style="overflow: hidden" id="body_{{ app.request.attributes.get("_route") }}">

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script src="{{ asset('build/app.js') }}"></script>


    </body>
</html>
