{% extends 'base.html.twig' %}

{% block body %}

    <div id="inscription">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet_question">
            {#{{ dump() }}#}
            <h1 class="title_intro2">" Ajouter un category  "</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn_submit2">" ajouter "</button>
            {{ form_end(form) }}
        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
