{% extends 'base.html.twig' %}

{% block body %}

        <div id="" class="container_homepage">
        
           
               <h1 class="title_intro">Découvre ton métier d’avenir!</h1>
          


            <a href="{{ path('inscription') }}" class="btn_submit">" Démarrer "</a>
        </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
