{% extends 'base.html.twig' %}

{% block body %}

    <div id="inscription">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet">
            {#{{ dump() }}#}
            <h1 class="title_intro2">" Inscris - toi "</h1>
            {{ form_start(form , {'attr': {'novalidate': 'novalidate', 'class':'form_inscription'}}) }}


            <div class="form_control">
                {{ form_widget(form.nom,{'attr': {'placeholder':'Nom'}}) }}

                <span class="error_msg">{{ form_errors(form.nom)|striptags }}</span>
            </div>
            <div class="form_control">
                {{ form_widget(form.prenom,{'attr': {'placeholder':'Prenom'}}) }}
                <span class="error_msg">{{ form_errors(form.prenom)|striptags }}</span>
            </div>
            <div class="form_control">
                {{ form_widget(form.email,{'attr': {'placeholder':'Email'}}) }}
                <span class="error_msg">{{ form_errors(form.email)|striptags }}</span>
            </div>
            {#<label class="form_control">#}
            {#{{ form_widget(form.gender) }}#}
            {#<span class="error_msg">{{ form_errors(form.gender)|striptags }}</span>#}
            {#</label>#}
            <div class="form_control control_inscription">
            <ul class="list_matiers list_inscription">
                {% for key, matiersItem in form.gender.children %}
                    <li>
                        <label for="{{ matiersItem.vars.id }}"
                               class="control control--checkbox">{{ matiersItem.vars.label }}
                            {{ form_widget(matiersItem) }}
                            <div class="control__indicator"></div>

                        </label>
                    </li>
                {% endfor %}
            </ul>
                <span class="error_msg">{{ form_errors(form.gender)|striptags }}</span>
            </div>
            <button type="submit" class="btn_submit2">" s'inscrire "</button>

            {{ form_end(form) }}
            <div class="errors center-align">


            </div>
        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
