{% extends 'base.html.twig' %}

{% block body %}

    <div id="questionOne" class="back_questions">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet_question">
            {#{{ dump() }}#}
            <h1 class="title_q1">étape 03: à l'école, tu préférais:</h1>
            <div class="content-q1">
                {{ form_start(form,{ "attr":{"class":"form_question3"}}) }}



                <ul class="list_matiers ">
                    {% for key, matiersItem in form.nom.children %}
                        <li>
                            <label for="{{ matiersItem.vars.id }}"
                                   class="control control--checkbox">{{ matiersItem.vars.label }}
                                {{ form_widget(matiersItem) }}
                                <div class="control__indicator"></div>

                        </label>
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(form) }}
                <button type="submit" class="btn_submit4">" valider "</button>
                {#{{ form_row(form._token) }}#}
                {{ form_end(form) }}
            </div>
        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
