{% extends 'base.html.twig' %}

{% block body %}

    <div id="questionOne" class="back_questions q1 ">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet_question">
            {#{{ dump() }}#}
            <h1 class="title_q1">étape 01: Un autographe s'il te plait </h1>
            <div class="content-q1">
                <p>Pour commencer, merci de griffonner, à la manière des stars, un autographe pour nous !</p>
                <div id="sketch">
                    <canvas id="canvas" width="530" height="170"></canvas>

                </div>
                <a href="{{ path('questiontwo') }}" class="btn_submit3 save" id="save"  >" Valider "</a>
                <div class="errors">

                </div>
            </div>



        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
