{% extends 'base.html.twig' %}

{% block body %}

    <div id="questionOne" class="back_questions">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet_question">
            {#{{ dump() }}#}
            <h1 class="title_q1">étape 02: retour en enfance </h1>
            <div class="content-q1">
                <p>Avec ton Stylus, reprends à l'écrit la phrase suivante : BIC vous en donne toujours plus !</p>
                <div id="sketch">
                    <canvas id="canvas" width="530" height="170"></canvas>
                </div>
                <a href="{{ path("questionthree") }}" class="btn_submit3 save">" Valider "</a>
                <div class="errors">

                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
