{% extends 'base.html.twig' %}

{% block body %}

    <div id="questionOne" class="back_questions">
        <div class="logo"><img class="logo_img" src="{{ asset('images/logo.png') }}" alt=""></div>

        <div class="container_tablet_question">
            {#{{ dump() }}#}
            <h1 class="title_q1">Vous êtes fait pour être :</h1>
            <div class="content-q1 flex_">
                {#<p> {{ dump(app.session.get('oneMetier')) }}</p>#}
               <h2 class="title_result" >{{ metier }}</h2>
               <div class="container_img" style="background-image: url({{ image }})">
                    <!-- <img src="{{ image }}" alt="{{ metier }}"> -->

                <a href="{{ path('homepage') }}" class="btn_submit5">" TERMINER "</a> 
               </div>
              

            </div>
        </div>


    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
