//@import "~materialize-css/dist/css/materialize.css";
$yellow: #ffb823;
body {
  //background-image: url("../img/splash/back_splash.png");
  //background-size: cover;
  padding: 0px;
  background-image: url("/images/back.png");
  background-size: cover;
  width: 100vw;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  margin: 0;  overflow: hidden
}

#container {
  background-image: url("/images/splash/back_intro.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.title_intro {
  font-family: 'Gochi Hand', cursive;
  color: #2d3e7c;
  line-height: 1.038;
  text-align: center;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 45%;
  width: 30%;
  transform: translate(-50%, -50%);
}

.btn_submit {
  width: 544px;
  height: 158px;
  background-color: #ffb823;
  position: absolute;
  left: 50%;
  top: 80%;
  font-family: 'Gochi Hand', cursive;
  font-size: 43.76px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.btn_submit2 {
  width: 178px;
  height: 53px;
  background-color: #ffb823;
  font-family: 'Gochi Hand', cursive;
  font-size: 25.54px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
}

#inscription, .back_questions {
/*  background-image: url("/images/back.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-attachment: fixed;*/
margin: 20px auto;
}

.logo_img {
  margin: 0px auto;
  display: block;
}

.container_tablet {
  background-image: url(/images/splash/tab.png);
  width: 681px;
  height: 487px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;
  position: relative;
}

.container_tablet_question {
  background-image: url(/images/tablet.png);
  width: 681px;
  height: 487px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;
  position: relative;
}

.form_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_inscription input[type=text] {
  margin-bottom: 15px;
  width: 209px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.639);
  border: none;
  color: #fff;
  font-size: 16.9px;
  font-family: "Gochi Hand";
}

.form_inscription input[type=radio] {
  margin-bottom: 22px;

}

#appbundle_participants_gender label {
  font-size: 24px;
  font-family: "Gochi Hand";
  color: #000000;
}

.title_intro2 {
  font-size: 40.34px;
  font-family: "Gochi Hand";
  color: rgb(0, 0, 0);
  line-height: 1.153;
  text-align: center;
  padding-top: 58px;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 26.9px;
  font-family: "Gochi Hand";
  color: rgb(255, 255, 255);
  line-height: 1.729;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
}

:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  font-size: 26.9px;
  font-family: "Gochi Hand";
  color: rgb(255, 255, 255);
  line-height: 1.729;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  font-size: 26.9px;
  font-family: "Gochi Hand";
  color: rgb(255, 255, 255);
  line-height: 1.729;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);

}

:-ms-input-placeholder {
  color: #ffffff;
  font-size: 26.9px;
  font-family: "Gochi Hand";
  color: rgb(255, 255, 255);
  line-height: 1.729;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
}

#appbundle_participants_gender {
  margin-bottom: 22px;
}

.content-q1 {
  //background-color: #ffffff;
  //box-shadow: inset 0px 0px 42px 0px rgba(19, 19, 19, 0.47);
  width: 555px;
  margin: 0px auto;
  //height: 343px;
}

.content-q1 p {
  font-size: 23px;
  font-family: "Gochi Hand";
  color: $yellow;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0px;
}

#sketch {
  //border: 10px solid gray;
  height: 100%;
  width: 530px;
  display: block;
  margin: 0px auto;
}

.btn_submit3 {
  position: absolute;
  left: 50%;
  bottom: 110px;
  transform: translate(-50%, 50%);
  width: 178px;
  height: 53px;
  background-color: #ffb823;
  font-family: 'Gochi Hand', cursive;
  font-size: 25.54px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
}

.title_q1 {
  font-size: 28px;
  font-family: "Gochi Hand";
  color: rgb(0, 0, 0);
  line-height: 1.153;
  text-align: center;
  padding-top: 58px;
}

.form_q3 {
  /*  height: 150px;
    display: grid;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
  height: 230px;
}

.form_q3 {
  .form-check {
    width: 50%;
    display: flex;
    float: left;
    margin-bottom: 10px;
  }
}

.btn_submit4 {
  width: 178px;
  height: 53px;
  background-color: #ffb823;
  font-family: 'Gochi Hand', cursive;
  font-size: 25.54px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
  text-align: center;
  margin: 20px auto;

}

.flex_ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title_result {
  font-size: 36px;
  font-family: "Gochi Hand";
  color: $yellow;
  line-height: 1.153;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 22px;
  margin: 0px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20.13px;
  font-family: "Gochi Hand";
  color: $yellow;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  right: 20px;
  height: 22px;
  width: 22px;
  background: #5c5c5c;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #5c5c5c;
}

.control input:checked ~ .control__indicator {
  background: $yellow;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: $yellow;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.list_matiers {
  margin: 0px;
  margin-top: 22px;
  li {
    width: 50%;
    float: left;
    list-style: none;
  }
}

.form_question3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_control {
  position: relative;
  margin-bottom: 20px;
  width: 209px;
  height: 42px;
  .error_msg {
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translateX(50%);
    font-size: 12px;
    width: 100%;
    text-align: center;
    font-family: "Gochi Hand";
    margin-top: 5px;
    color: red;
  }
}

.list_inscription {
  padding: 0px;
  min-width: 272px;
  .control {
    color: #000000;
    padding-left: 16px;
  }
  .error_msg{
    top: 85%;
  }
}

.errors {
  font-family: "Gochi Hand";
  position: relative;
  text-align: center;
  margin-top: 60px;
  color: red;
}

.control_inscription {
  width: auto;
  min-width: 272px;
  height: auto;
}
#inscription {
  .title_intro2{
    margin-bottom: 5px;
  }
}
@media(max-device-width: 600px) and (orientation: portrait) {

}

/* Landscape */
@media (max-device-width: 960px) and (orientation: landscape) {
  body {
    //background-image: url("../img/splash/back_splash.png");
    //background-size: cover;
    background-image: url("/images/back.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
  }
  #container {
    background-image: url("/images/splash/back_splash.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .title_intro {
    font-family: 'Gochi Hand', cursive;
    color: #2d3e7c;
    line-height: 1.038;
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 239.546px;
    width: 267px;
    transform: translate(-50%, -50%);
  }
  .btn_submit {
 width: 272px;
  height: 80px;
    background-color: #ffb823;
    position: absolute;
    left: 50%;
    top: 445px;
    font-family: 'Gochi Hand', cursive;
    font-size: 43.76px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(-50%);
  }
  .btn_submit2 {
    width: 178px;
    height: 53px;
    background-color: #ffb823;
    font-family: 'Gochi Hand', cursive;
    font-size: 25.54px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
  }
  .btn_submit3 {
    position: absolute;
    left: 50%;
    bottom: 110px;
    transform: translate(-50%, 50%);
    width: 178px;
    height: 53px;
    background-color: #ffb823;
    font-family: 'Gochi Hand', cursive;
    font-size: 25.54px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
  }

  #inscription, .back_questions {
    margin: 20px auto;
  }
  .logo_img {
    margin: 0px auto;
    display: block;
  }
  .container_tablet {
    background-image: url(/images/splash/tab.png);
    width: 681px;
    height: 487px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px auto;
    position: relative;
  }
  .container_tablet_question {
    background-image: url(/images/tablet.png);
    width: 681px;
    height: 487px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px auto;
    position: relative;
  }
  .form_inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form_inscription input[type=text] {
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    border: none;
    color: #fff;
    font-size: 16.9px;
    font-family: "Gochi Hand";
  }
  .form_inscription input[type=radio] {
    margin-bottom: 22px;

  }
  #appbundle_participants_gender label {
    font-size: 24px;
    font-family: "Gochi Hand";
    color: #000000;
  }
  .title_intro2 {
    font-size: 40.34px;
    font-family: "Gochi Hand";
    color: rgb(0, 0, 0);
    line-height: 1.153;
    text-align: center;
    padding-top: 58px;
  }
  ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 26.9px;
    font-family: "Gochi Hand";
    color: rgb(255, 255, 255);
    line-height: 1.729;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-size: 26.9px;
    font-family: "Gochi Hand";
    color: rgb(255, 255, 255);
    line-height: 1.729;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    font-size: 26.9px;
    font-family: "Gochi Hand";
    color: rgb(255, 255, 255);
    line-height: 1.729;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);

  }

  :-ms-input-placeholder {
    color: #ffffff;
    font-size: 26.9px;
    font-family: "Gochi Hand";
    color: rgb(255, 255, 255);
    line-height: 1.729;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
  }
  #appbundle_participants_gender {
    margin-bottom: 22px;
  }
  .content-q1 {
    //background-color: #ffffff;
    //box-shadow: inset 0px 0px 42px 0px rgba(19, 19, 19, 0.47);
    width: 555px;
    margin: 0px auto;
    //height: 343px;
  }

  .content-q1 p {
    font-size: 23px;
    font-family: "Gochi Hand";
    color: $yellow;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
  }
  #sketch {
    //border: 10px solid gray;
    height: 100%;
    width: 530px;
    display: block;
    margin: 0px auto;
  }
  .title_q1 {
    font-size: 28px;
    font-family: "Gochi Hand";
    color: rgb(0, 0, 0);
    line-height: 1.153;
    text-align: center;
    padding-top: 58px;
  }
}

//@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)  {
//
//
//  body {
//    //background-image: url("../img/splash/back_splash.png");
//    //background-size: cover;
//    margin: 0; height: 100%; overflow: hidden
//  }
//  #container {
//    background-image: url("/images/splash/back_splash.png");
//    background-size: 100%;
//    width: 100vw;
//    height: 100vh;
//    position: relative;
//    background-repeat:no-repeat ;
//  }
//  .title_intro {
//    font-family: 'Gochi Hand', cursive;
//    color: #2d3e7c;
//    line-height: 1.038;
//    text-align: center;
//    font-size: 40px;
//    position: absolute;
//    left: 50%;
//    top: 239.546px;
//    width: 267px;
//    transform: translate(-50%, -50%);
//  }
//  .btn_submit {
//    width: 272px;
//    height: 80px;
//    background-color: #ffb823;
//    position: absolute;
//    left: 50%;
//    top: 445px;
//    font-family: 'Gochi Hand', cursive;
//    font-size: 43.76px;
//    color: #ffffff;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    text-decoration: none;
//    text-transform: uppercase;
//    transform: translateX(-50%);
//  }
//  .btn_submit2 {
//    width: 178px;
//    height: 53px;
//    background-color: #ffb823;
//    font-family: 'Gochi Hand', cursive;
//    font-size: 25.54px;
//    color: #ffffff;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    text-decoration: none;
//    text-transform: uppercase;
//    border: none;
//    box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
//  }
//  .btn_submit3 {
//    position: absolute;
//    left: 50%;
//    bottom: 110px;
//    transform: translate(-50%, 50%);
//    width: 178px;
//    height: 53px;
//    background-color: #ffb823;
//    font-family: 'Gochi Hand', cursive;
//    font-size: 25.54px;
//    color: #ffffff;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    text-decoration: none;
//    text-transform: uppercase;
//    border: none;
//    box-shadow: -2.163px 6.657px 22.31px 0.69px rgba(19, 19, 19, 0.75);
//  }
//
//  #inscription, .back_questions {
//    background-image: url("/images/back.png");
//    background-size: cover;
//    width: 100vw;
//    height: 100vh;
//    position: relative;
//    background-attachment: fixed;
//  }
//  .logo_img {
//    margin: 0px auto;
//    display: block;
//  }
//  .container_tablet {
//    background-image: url(/images/splash/tab.png);
//    width: 681px;
//    height: 487px;
//    background-repeat: no-repeat;
//    background-size: cover;
//    margin: 15px auto;
//    position: relative;
//  }
//  .container_tablet_question {
//    background-image: url(/images/tablet.png);
//    width: 681px;
//    height: 487px;
//    background-repeat: no-repeat;
//    background-size: cover;
//    margin: 15px auto;
//    position: relative;
//  }
//  .form_inscription {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//  }
//  .form_inscription input[type=text] {
//    margin-bottom: 15px;
//    width: 100%;
//    height: 100%;
//    height: 100%;
//    background-color: rgba(0, 0, 0, 0.639);
//    border: none;
//    color: #fff;
//    font-size: 16.9px;
//    font-family: "Gochi Hand";
//  }
//  .form_inscription input[type=radio] {
//    margin-bottom: 22px;
//
//  }
//  #appbundle_participants_gender label {
//    font-size: 24px;
//    font-family: "Gochi Hand";
//    color: #000000;
//  }
//  .title_intro2 {
//    font-size: 40.34px;
//    font-family: "Gochi Hand";
//    color: rgb(0, 0, 0);
//    line-height: 1.153;
//    text-align: center;
//    padding-top: 58px;
//  }
//  ::-webkit-input-placeholder {
//    color: #ffffff;
//    font-size: 26.9px;
//    font-family: "Gochi Hand";
//    color: rgb(255, 255, 255);
//    line-height: 1.729;
//    text-align: center;
//    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
//  }
//
//  :-moz-placeholder { /* Firefox 18- */
//    color: #ffffff;
//    font-size: 26.9px;
//    font-family: "Gochi Hand";
//    color: rgb(255, 255, 255);
//    line-height: 1.729;
//    text-align: center;
//    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
//  }
//
//  ::-moz-placeholder { /* Firefox 19+ */
//    color: #ffffff;
//    font-size: 26.9px;
//    font-family: "Gochi Hand";
//    color: rgb(255, 255, 255);
//    line-height: 1.729;
//    text-align: center;
//    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
//
//  }
//
//  :-ms-input-placeholder {
//    color: #ffffff;
//    font-size: 26.9px;
//    font-family: "Gochi Hand";
//    color: rgb(255, 255, 255);
//    line-height: 1.729;
//    text-align: center;
//    text-shadow: 0px 3px 3px rgba(132, 81, 21, 0.75);
//  }
//  #appbundle_participants_gender {
//    margin-bottom: 22px;
//  }
//  .content-q1 {
//    //background-color: #ffffff;
//    //box-shadow: inset 0px 0px 42px 0px rgba(19, 19, 19, 0.47);
//    width: 555px;
//    margin: 0px auto;
//    //height: 343px;
//  }
//
//  .content-q1 p {
//    font-size: 23px;
//    font-family: "Gochi Hand";
//    color: $yellow;
//    padding-left: 20px;
//    padding-top: 20px;
//    margin: 0px;
//  }
//  #sketch {
//    //border: 10px solid gray;
//    height: 100%;
//    width: 530px;
//    display: block;
//    margin: 0px auto;
//  }
//  .title_q1 {
//    font-size: 28px;
//    font-family: "Gochi Hand";
//    color: rgb(0, 0, 0);
//    line-height: 1.153;
//    text-align: center;
//    padding-top: 58px;
//  }
//}